[submodule "rdesktop-old"]
	path = rdesktop-old
	url = https://github.com/z0x010/rdesktop
[submodule "tstunnels"]
	path = tstunnels
	url = https://github.com/normanr/tstunnels
[submodule "rdp-tunnel"]
	path = rdp-tunnel
	url = https://github.com/NotMedic/rdp-tunnel
[submodule "TCPSocket"]
	path = TCPSocket
	url = https://github.com/z7059652/TCPSocket
[submodule "sleipnir"]
	path = sleipnir
	url = https://github.com/nccgroup/sleipnir
[submodule "loki"]
	path = loki
	url = https://github.com/nccgroup/loki
[submodule "Fenrir"]
	path = Fenrir
	url = https://github.com/nccgroup/Fenrir
[submodule "pyrdp"]
	path = pyrdp
	url = https://github.com/GoSecure/pyrdp
[submodule "RdpChannel"]
	path = RdpChannel
	url = https://github.com/awakecoding/RdpChannel
[submodule "VcTest"]
	path = VcTest
	url = https://github.com/SergiusTheBest/VcTest
[submodule "ogon-channels"]
	path = ogon-channels
	url = https://github.com/ogon-project/ogon-channels
[submodule "rdp2tcp"]
	path = rdp2tcp
	url = https://github.com/Synacktiv/rdp2tcp
[submodule "rdp-sec-check"]
	path = rdp-sec-check
	url = https://github.com/portcullislabs/rdp-sec-check
[submodule "rduserenum"]
	path = rduserenum
	url = https://github.com/skorov/rduserenum
[submodule "rdpt"]
	path = rdpt
	url = https://github.com/David-xu/rdpt
[submodule "RDP_ngrok"]
	path = RDP_ngrok
	url = https://github.com/hhhhhojeihsu/RDP_ngrok
[submodule "tprdp-replay"]
	path = tprdp-replay
	url = https://github.com/tp4a/tprdp-replay
[submodule "TsTeleport"]
	path = TsTeleport
	url = https://github.com/awakecoding/TsTeleport
[submodule "UniversalDVC"]
	path = UniversalDVC
	url = https://github.com/earthquake/UniversalDVC
[submodule "UniversalDVC-Tunel-RDP"]
	path = UniversalDVC-Tunel-RDP
	url = https://github.com/Soldie/UniversalDVC-Tunel-RDP
[submodule "RdpRemoteImageReview"]
	path = RdpRemoteImageReview
	url = https://github.com/Level0r0s/RdpRemoteImageReview
[submodule "rdp_build"]
	path = rdp_build
	url = https://github.com/rincebrain/rdp_build
[submodule "WTSPlugin1"]
	path = WTSPlugin1
	url = https://github.com/dranger003/WTSPlugin1
[submodule "webRDP"]
	path = webRDP
	url = https://github.com/gonewbee/webRDP
